/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Logo Styles */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 100px; /* Adjust the size */
    margin-right: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #0059b3;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #003d80;
}

/* Main Content */
main {
    margin: 20px;
}

iframe {
    width: 100%;  /* Make iframe take full width */
    height: calc(100vh - 180px); /* Full screen height minus header and footer size */
    border: 2px solid #ddd;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
