/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    height: 100vh; /* Ensure body takes full view height */
    display: flex;
    flex-direction: column;
}

header {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

/* Logo Styles */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 60px;  /* Reduce the logo size */
    max-height: 60px; /* Make sure the logo height stays proportional */
    margin-right: 10px;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    background-color: #0059b3;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #003d80;
}

/* Main Content */
main {
    flex-grow: 1; /* Allows main to grow and fill the remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remove any padding to make full use of space */
}

iframe {
    width: 100vw; /* Full viewport width */
    height: calc(100vh - 100px); /* Full viewport height minus header/footer */
    border: 2px solid #ddd;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
